<div id="borrartodo">
	<p>¿Esta seguro de que quiere borrar todos sus contactos?</p>
 	<form method="POST" action="borrartodo.php">
 		<input type="submit" name="si" value="si" />
 		<input type="submit" name="no" value="no" />
 	</form>

</div>